* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  margin: 0px;
}
header {
  height: 65vh;
  opacity: 0.8;
  background-image: url("images/rhbg.jpg");
  background-size: cover;
  background-position: 50% 60%;
  background-attachment: fixed;
}
li {
  display: inline;
  text-align: center;
}
#l1 {
  padding-left: 0px;
  margin: 0px 10px 10px 0px;
}
navigation {
  text-align: center;
  word-spacing: 5rem;
}
#l1 a {
  font-size: x-large;
  color: ivory;
  text-decoration: none;
  transition: color 0.5s, font-size 0.5s, border-bottom 0.5s;
}
#l1 a:hover {
  color: lightgray;
  border-bottom: 1px solid white;
}
#name {
  font-weight: 700;
  color: white;
  text-align: center;
  font-size: 4rem;
}
#social {
  text-align: center;
  word-spacing: 4rem;
}
#pp {
  margin-top: -7%;
  height: 17%;
  width: 17%;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
  border: ridge white;
  box-shadow: 1px 1px 1px lightgrey;
  height: 225px;
  width: 225px;
}
#il {
  border-radius: 50%;
}
#il:hover {
  box-shadow: 0px 0px 6px 4px white;
}
#hello {
  display: inline;
}
#aboutme {
  padding: 10px;
  width: 70%;
  height: 100%;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  color: grey;
  line-height: 32px;
  font-weight: 100;
  font-size: 1.1rem;
}
special {
  color: #2857a4;
}
#ski {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 3rem;
  color: rgb(40, 87, 164);
}
#skh {
  margin-left: 40%;
  margin-right: 40%;
}
.grey {
  background-color: whitesmoke;
}
#main {
  margin-left: auto;
  margin-right: auto;
  width: 75vw;
  height: 30vh;
  display: flex;
  direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.outer {
  display: flex;
  margin: 20px;
  border: 2px;
  background-color: lightgrey;
  border-radius: 20px;
  width: 180px;
  height: 35.5px;
  text-align: left;
}
.rating {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
  margin-left: 0px;
  padding-left: 8%;
  padding-top: 5%;
  color: white;
  border-radius: 20px 0px 0px 20px;
  box-shadow: 3px 0px 0px 0px #98989882;
}
#golang {
  background-color:  rgb(147, 115, 140);
  width: 55%;
}
#express {
  background-color: forestgreen;
  width: 45%;
}
#react {
  background-color: #2857a4;
  width: 35%;
}
#js {
  background-color: forestgreen;
  width: 65%;
}
#cpp {
  background-color: rgb(236, 77, 28);
  width: 40%;
}
#java {
  background-color: rgb(147, 115, 140);
  width: 55%;
}
#css {
  background-color: rgb(147, 115, 140);
  width: 50%;
}
#aws {
  background-color: forestgreen;
  width: 45%;
}
#html {
  background-color: #2857a4;
  width: 40%;
}
#mongo {
  background-color:forestgreen;
  width: 60%;  
}
#sql {
  background-color: rgb(236, 77, 28);
  width: 40%;
}
#pro {
  margin-left: 40%;
  margin-right: 40%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 3rem;
  color: rgb(40, 87, 164);
}
#super_project {
  width: 83vw;
  height: 85vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.hw {
  width: 100%;
  height: 100%;
}
.subp {
  top: 0;
  left: 0;
  width: 300px;
  height: 255px;
  text-align: center;
  position: relative;
}
.info {
  height: 100%;
  transition: 0.5s all ease-in-out;
  position: absolute;
  word-wrap: break-word;
  width: 100%;
  top: 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 100;
  font-size: 2rem;
  opacity: 0;
  color: white;
  box-shadow: 0px 0px 4px 4px blue;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: grey;
}
.subp:hover .info {
  opacity: 0.7;
}
#conic {
  margin-left: 40%;
  margin-right: 40%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 3rem;
  color: white;
}
#consec {
  background-image: linear-gradient(to right, #2857a4, #403066);
  height: 100vh;
}
#cont {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 80vw;
  height: 50vh;
}
.form {
  width: 50%;
  height: 100%;
}
.details {
  width: 50%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
}
.git {
  color: rgb(207, 220, 200);
  padding: 1rem 2rem 2rem 2rem;
  height: 30%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.95rem;
  word-wrap: normal;
}
.address {
  padding: 2rem 2rem 2rem 2rem;
  height: 45%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
}
high {
  color: white;
  font-size: 1.5rem;
}
.mini {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
pos {
  vertical-align: sub;
}
#fele {
  margin-right: 10%;
  border-bottom: 2px solid white;
  width: 90%;
  display: block;
  color: grey;
  font-size: 1rem;
  padding-bottom: 5px;
}
#submit {
  padding: 10px;
  border: 2px solid white;
  color: white;
  font-weight: 550;
  margin-left: 28%;
}
#woex {
  margin-left: 33%;
  margin-right: 33%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 3rem;
  color: rgb(40, 87, 164);
}
#wexc {
  margin-left: auto;
  margin-right: auto;
  width: 75vw;
  height: 100vh;
}
.comp {
  margin: 1%;
  height: 32%;
  width: 45%;
  border: 1px solid red;
  position: relative;
}
.comp:nth-child(2n) {
  left: 53%;
}
.comp:nth-child(2n)::after {
  content: "";
  position: absolute;
  top: 30%;
  left: -10%;
  border-radius: 50%;
  width: 0.7rem;
  height: 0.7rem;
  background-color: rgb(211, 211, 211);
}
.comp:nth-child(2n + 1)::after {
  content: "";
  position: absolute;
  top: 30%;
  right: -10.25%;
  border-radius: 50%;
  width: 0.7rem;
  height: 0.7rem;
  background-color: rgb(211, 211, 211);
}
#cwp {
  left: 48.3%;
  position: absolute;
  top: 10%;
}
#mwps {
  position: sticky;
  top: 10%;
  height: 50%;
  z-index: 1;
}
#wexd {
  width: 0;
  border: 1px dashed #0096fa6b;
  left: 50%;
  height: 100%;
  position: absolute;
}
#eduh {
  margin-left: 40%;
  margin-right: 35%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 3rem;
  color: rgb(40, 87, 164);
}
#allsolutionspic {
  padding-top: 1rem;
  margin-left: 2%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 900;
  font-size: 1.5rem;
  color: rgb(40, 87, 164);
}
padc {
  position: absolute;
  left: 60%;
  top: 25%;
  font-size: 1.25rem;
  font-weight: 800;
}
posp {
  position: absolute;
  left: 60%;
  display: inline;
  color: rgb(40, 87, 164);
  font-size: 1.5rem;
}
#about {
  font-size: 1.25rem;
  padding-left: 15px;
  padding-top: 15px;
}
#degree {
  font-size: 1.5rem;
  margin: 30px;
}
